
* {
	font-family: 'Lato', sans-serif;

}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0 none;
	position: relative;
}

.ffont {
	font-family: 'Lato', sans-serif;
	/* font-family: 'Teko', sans-serif; */
	font-weight: 900;
	font-size: 25px;

}

html {
	background: #000;
	box-sizing: border-box;
	font-family: 'Vollkorn', sans-serif;
	font-size: 1rem;
	color: #000;
}

.navwidth {
	/* position: fixed;
    top: 20px;
    left: 0;
    right: 0; */
	margin: 0;
	padding: 0;
}

.qwerty {
	/* position: fixed;
    top: 0px;
    left: 0;
    right: 0; */
	font-size: 10px;
	margin: 0;
}

.card-des {
	justify-content: space-around;
	align-items: center;
}



.prd{
    border-radius: 25px;
}















.footer{
	padding-bottom: 5%;
    width: 100%;
	padding-top: 5%;
    /* padding: 50px 15%; */
    background: #333;
    color: #efefef;
    display: flex;
}
.footer div{
    text-align: center;
}
.fot2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 5%;
    letter-spacing: 1px;
}
.fot1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

.socialicons{
    margin-top: 30px;
}
.socialicons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
